@model ProjetoPeritagem.ViewHelper.ViewHelperPeritagem
@{
    ViewData["Title"] = "Alterar Item";
}



<partial name="_SubMenu" />

<h2 id="titulo-form">Alterar Itens Diversos</h2>

<div id="main" >
    <div id="formulario">
        <div class="form-group col-md-12">
            <label>Tipo Peça</label>
            @{
                foreach (var t in Model.listTipoItem)
                {
                    if (t.Id == Model.item.TipoItem.Id)
                    {
                        <div class="form-group">
                            <input id="tipo_item" class="form-control" disabled type="text" value="@t.Nome" name="Tipo_Item"  />
                        </div>
                    }
                }
            }

            
        </div>
    

            <!------------------------------------- VISOR DE NIVEL -------------------------------------->

            @{
                if (Model.item.TipoItem.Nome == "Visor de Nível" || Model.item.TipoItem.Id == 8)
                {

                    <div>
                        <h2 id="titulo-form">Visor de Nível</h2>
                        <form action="@Url.Action("GravarAlteracao", "ItemDiverso")" method="post">
                            <div id="form_visor_nivel">
                                <div id="visor_nivel">
                                    <div class="form-row">
                                        <div class="form-group col-md-1">
                                            <label for="quantidade">Quant.</label>
                                            <input type="text" class="form-control" id="quantidade" onkeypress="ValidarNumerosInteiro()" name="Quantidade" value="@Model.item.Quantidade" />
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label for="rosca">Rosca</label>
                                            <input type="text" class="form-control" id="rosca" name="Rosca" value="@Model.item.Rosca" />
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label for="modelo">Modelo</label>
                                            <input type="text" class="form-control" id="modelo" name="Modelo" value="@Model.item.Modelo" />
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label for="condicao">Condição</label>
                                            <select type="text" class="form-control" id="condicao" name="ID_Disposicao">
                                                @{
                                                    foreach (var d in Model.listDisposicao)
                                                    {
                                                        if (Model.item.Disposicao.ID_Disposicao == Model.item.Disposicao.ID_Disposicao)
                                                        {
                                                            <option selected value="@d.ID_Disposicao">@d.Nome</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@d.ID_Disposicao">@d.Nome</option>
                                                        }
                                                    }
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <input type="hidden" value="@Model.item.Id" name="ID_Item" />
                                </div>
                            </div>
                            <div>
                                <input type="hidden" class="form-control" id="ID_Peritagem" name="ID_Peritagem" value="@Model.ID_Peritagem" />
                            </div>
                            <input type="submit" class="btn btn-primary mb-2" value="Enviar" />
                        </form>
                    </div>
                }
            }

            <!------------------------------------- RESPIRO / GERAL -------------------------------------->

            @{
                if (Model.item.TipoItem.Nome == "Respiro / Filtro de Ar" || Model.item.TipoItem.Id == 10)
                {
                    <div>
                        <h2 id="titulo-form">Respiro / Filtro de Ar</h2>
                        <form action="@Url.Action("GravarAlteracao", "ItemDiverso")" method="post">
                            <div id="form_respiro_filtro">
                                <div id="respiro_filtro">
                                    <div class="form-row">
                                        <div class="form-group col-md-1">
                                            <label for="quantidade">Quantidade</label>
                                            <input type="text" class="form-control" id="quantidade" onkeypress="ValidarNumerosInteiro()" name="Quantidade" value="@Model.item.Quantidade" />
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label for="rosca">Rosca</label>
                                            <input type="text" class="form-control" id="rosca" name="Rosca" value="@Model.item.Rosca" />
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label for="modelo">Modelo</label>
                                            <input type="text" class="form-control" id="modelo" name="Modelo" value="@Model.item.Modelo" />
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label for="condicao">Condição</label>
                                            <select type="text" class="form-control" id="condicao" name="ID_Disposicao">
                                                @{
                                                    foreach (var d in Model.listDisposicao)
                                                    {
                                                        if (Model.item.Disposicao.ID_Disposicao == d.ID_Disposicao)
                                                        {
                                                            <option selected value="@d.ID_Disposicao">@d.Nome</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@d.ID_Disposicao">@d.Nome</option>
                                                        }
                                                    }
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <input class="tipo_item" type="hidden" value="" name="Tipo_Item" />
                                </div>
                            </div>
                            <div>
                                <input type="hidden" class="form-control" id="ID_Peritagem" name="ID_Peritagem" value="@Model.ID_Peritagem" />
                            </div>
                            <input type="submit" class="btn btn-primary mb-2" value="Enviar" />
                        </form>
                    </div>
                }
            }
            <!-------------------------------------BUJOES-------------------------------------->

            @{
                if (Model.item.TipoItem.Nome == "Bujões" || Model.item.TipoItem.Id == 9)
                {
                    <div>
                        <h2 id="titulo-form">Bujões</h2>
                        <form action="@Url.Action("GravarAlteracao", "ItemDiverso")" method="post">
                            <div id="form_bujoes">
                                <div id="bujoes">
                                    <div class="form-row">
                                        <div class="form-group col-md-1">
                                            <label for="quantidade">Quantidade</label>
                                            <input type="text" class="form-control" id="quantidade" onkeypress="ValidarNumerosInteiro()" name="Quantidade" value="@Model.item.Quantidade" />
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label for="rosca">Rosca</label>
                                            <input type="text" class="form-control" id="rosca" name="Rosca" value="@Model.item.Rosca" />
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label for="norma">Norma</label>
                                            <select type="text" class="form-control" id="norma" name="ID_Norma">
                                                @{
                                                    foreach (var n in Model.listNorma)
                                                    {
                                                        if (Model.item.Norma.Id == n.Id)
                                                        {
                                                            <option value="@n.Id">@n.Nome</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@n.Id">@n.Nome</option>
                                                        }
                                                    }
                                                }
                                            </select>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label for="condicao">Condição</label>
                                            <select type="text" class="form-control" id="condicao" name="ID_Disposicao">
                                                @{
                                                    foreach (var d in Model.listDisposicao)
                                                    {
                                                        if (Model.item.Disposicao.ID_Disposicao == d.ID_Disposicao)
                                                        {
                                                            <option selected value="@d.ID_Disposicao">@d.Nome</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@d.ID_Disposicao">@d.Nome</option>
                                                        }
                                                    }
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <input class="tipo_item" type="hidden" value="@Model.item.Id" name="ID_Item" />
                                </div>
                            </div>
                            <div>
                                <input type="hidden" class="form-control" id="ID_Peritagem" name="ID_Peritagem" value="@Model.ID_Peritagem" />
                            </div>
                            <input type="submit" class="btn btn-primary mb-2" value="Enviar" />
                        </form>
                    </div>
                }
            }
            <!-------------------------------------ANEL ELASTICO -------------------------------------->

            @{
                if (Model.item.TipoItem.Nome == "Anel Elástico" || Model.item.TipoItem.Id == 11)
                {
                    <div>
                        <h2 id="titulo-form">Anel Elástico</h2>
                        <form action="@Url.Action("GravarAlteracao", "ItemDiverso")" method="post">
                            <div id="form_anel_elastico">
                                <div id="anel_elastico">
                                    <div class="form-row">
                                        <div class="form-group col-md-1">
                                            <label for="quantidade">Quant.</label>
                                            <input type="text" class="form-control" id="quantidade" onkeypress="ValidarNumerosInteiro" name="Quantidade" value="@Model.item.Quantidade" />
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label for="rosca">Rosca</label>
                                            <input type="text" class="form-control" id="rosca" name="Rosca" value="@Model.item.Rosca" />
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label for="norma">Norma</label>
                                            <select type="text" class="form-control" id="norma" name="ID_Norma">
                                                @{
                                                    foreach (var n in Model.listNorma)
                                                    {
                                                        if (Model.item.Norma.Id == n.Id)
                                                        {
                                                            <option value="@n.Id">@n.Nome</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@n.Id">@n.Nome</option>
                                                        }
                                                    }
                                                }
                                            </select>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label for="condicao">Condição</label>
                                            <select type="text" class="form-control" id="condicao" name="ID_Disposicao">
                                                @{
                                                    foreach (var d in Model.listDisposicao)
                                                    {
                                                        if (Model.item.Disposicao.ID_Disposicao == d.ID_Disposicao)
                                                        {
                                                            <option selected value="@d.ID_Disposicao">@d.Nome</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@d.ID_Disposicao">@d.Nome</option>
                                                        }
                                                    }
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <input class="tipo_item" type="hidden" value="@Model.item.Id" name="ID_Item" />
                                </div>
                            </div>
                            <div>
                                <input type="hidden" class="form-control" id="ID_Peritagem" name="ID_Peritagem" value="@Model.ID_Peritagem">
                            </div>
                            <input type="submit" class="btn btn-primary mb-2" value="Enviar" />
                        </form>
                    </div>
                }
            }

            <!-------------------------------------ENGRAXADEIRA -------------------------------------->
            @{
                if (Model.item.TipoItem.Nome == "Engraxedeira" || Model.item.TipoItem.Id == 12)
                {
                    <div>
                        <h2 id="titulo-form">Engraxedeira</h2>
                        <form action="@Url.Action("GravarAlteracao", "ItemDiverso")" method="post">
                            <div id="form_engraxadeira">
                                <div id="engraxadeira">
                                    <div class="form-row">
                                        <div class="form-group col-md-2">
                                            <label for="quantidade">Quant.</label>
                                            <input type="text" class="form-control" id="quantidade" onkeypress="ValidarNumerosInteiro()" name="Quantidade" value="@Model.item.Quantidade" />
                                        </div>
                                        <div class="form-group col-md-5">
                                            <label for="modelo">Modelo</label>
                                            <input type="text" class="form-control" id="modelo" name="Modelo" value="@Model.item.Modelo" />
                                        </div>
                                        <div class="form-group col-md-5">
                                            <label for="norma">Norma</label>
                                            <select type="text" class="form-control" id="norma" name="ID_Norma">
                                                @{
                                                    foreach (var n in Model.listNorma)
                                                    {
                                                        if (Model.item.Norma.Id == n.Id)
                                                        {
                                                            <option value="@n.Id">@n.Nome</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@n.Id">@n.Nome</option>
                                                        }
                                                    }
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-3">
                                            <label for="rosca">Rosca</label>
                                            <input type="text" class="form-control" id="rosca" name="Rosca" />
                                        </div>

                                        <div class="form-group col-md-6">
                                            <label for="local_aplicado">Local Aplicado</label>
                                            <input type="text" class="form-control" id="local_aplicado" name="Local_Aplicado" />
                                        </div>

                                        <div class="form-group col-md-3">
                                            <label for="condicao">Condição</label>
                                            <select type="text" class="form-control" id="condicao" name="ID_Disposicao">
                                                @{
                                                    foreach (var d in Model.listDisposicao)
                                                    {
                                                        if (Model.item.Disposicao.ID_Disposicao == d.ID_Disposicao)
                                                        {
                                                            <option selected value="@d.ID_Disposicao">@d.Nome</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@d.ID_Disposicao">@d.Nome</option>
                                                        }
                                                    }
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <input class="tipo_item" type="hidden" value="@Model.item.Id" name="ID_Item" />
                                </div>
                            </div>
                            <div>
                                <input type="hidden" class="form-control" id="ID_Peritagem" name="ID_Peritagem" value="@Model.ID_Peritagem">
                            </div>
                            <input type="submit" class="btn btn-primary mb-2" value="Enviar" />
                        </form>
                    </div>
                }
            }

            <!-------------------------------------CONEXOES/SENSORES/VALVULAS-------------------------------------->
            @{
                if (Model.item.TipoItem.Nome == "Conexões / Sensores / Válvulas - Itens de lubrificação" || Model.item.TipoItem.Id == 13)
                {
                    <div>
                        <h2 id="titulo-form">Conexões / Sensores / Válvulas (Itens de lubrificação)</h2>
                        <form action="@Url.Action("GravarAlteracao", "ItemDiverso")" method="post">
                            <div id="form_conexoes_sensores_valvulas">
                                <div id="conexoes_sensores_valvulas">
                                    <div class="form-row">
                                        <div class="form-group col-md-2">
                                            <label for="quantidade">Quant.</label>
                                            <input type="text" class="form-control" id="quantidade" onkeypress="ValidarNumerosInteiro()" name="Quantidade" value="@Model.item.Quantidade" />
                                        </div>
                                        <div class="form-group col-md-5">
                                            <label for="modelo">Modelo</label>
                                            <input type="text" class="form-control" id="modelo" name="Modelo" value="@Model.item.Modelo" />
                                        </div>
                                        <div class="form-group col-md-5">
                                            <label for="norma">Norma</label>
                                            <select type="text" class="form-control" id="norma" name="ID_Norma">
                                                @{
                                                    foreach (var n in Model.listNorma)
                                                    {
                                                        if (Model.item.Norma.Id == n.Id)
                                                        {
                                                            <option value="@n.Id">@n.Nome</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@n.Id">@n.Nome</option>
                                                        }
                                                    }
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-3">
                                            <label for="rosca">Rosca</label>
                                            <input type="text" class="form-control" id="rosca" name="Rosca" value="@Model.item.Rosca" />
                                        </div>

                                        <div class="form-group col-md-6">
                                            <label for="local_aplicado">Local Aplicado</label>
                                            <input type="text" class="form-control" id="local_aplicado" name="Local_Aplicado" value="@Model.item.LocalAplicado" />
                                        </div>

                                        <div class="form-group col-md-3">
                                            <label for="condicao">Condição</label>
                                            <select type="text" class="form-control" id="condicao" name="ID_Disposicao">
                                                @{
                                                    foreach (var d in Model.listDisposicao)
                                                    {
                                                        if (Model.item.Disposicao.ID_Disposicao == d.ID_Disposicao)
                                                        {
                                                            <option selected value="@d.ID_Disposicao">@d.Nome</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@d.ID_Disposicao">@d.Nome</option>
                                                        }
                                                    }
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <input class="tipo_item" type="hidden" value="@Model.item.Id" name="ID_Item" />
                                </div>
                            </div>
                            <div>
                                <input type="hidden" class="form-control" id="ID_Peritagem" name="ID_Peritagem" value="@Model.ID_Peritagem">
                            </div>
                            <input type="submit" class="btn btn-primary mb-2" value="Enviar" />
                        </form>
                    </div>
                }
            }
            <!-------------------------------------PARAFUSOS -------------------------------------->
            @{
                if (Model.item.TipoItem.Nome == "Parafusos" || Model.item.TipoItem.Id == 14)
                {
                    <div>
                        <h2 id="titulo-form">Parafusos</h2>
                        <form action="@Url.Action("GravarAlteracao", "ItemDiverso")" method="post">
                            <div id="form_parafuso">
                                <div id="parafuso">
                                    <div class="form-row">
                                        <div class="form-group col-md-3">
                                            <label for="quantidade">Quant.</label>
                                            <input type="text" class="form-control" id="quantidade" name="Quantidade" onkeypress="ValidarNumerosInteiro()" value="@Model.item.Quantidade" />
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label for="rosca">Rosca</label>
                                            <input type="text" class="form-control" id="rosca" name="Rosca" value="@Model.item.Rosca" />
                                        </div>

                                        <div class="form-group col-md-3">
                                            <label for="passo">Passo</label>
                                            <input type="text" class="form-control" id="passo" name="Passo" value="@Model.item.Passo" />
                                        </div>

                                        <div class="form-group col-md-3">
                                            <label for="comprimento">Comprimento</label>
                                            <input type="text" class="form-control" id="comprimento" name="Comprimento" onkeypress="ValidarNumerosInteiro()" value="@Model.item.Comprimento" />
                                        </div>
                                    </div>

                                    <div class="form-row">
                                        <div class="form-group col-md-3">
                                            <label for="norma">Norma</label>
                                            <select type="text" class="form-control" id="norma" name="ID_Norma">
                                                @{
                                                    foreach (var n in Model.listNorma)
                                                    {
                                                        if (Model.item.Norma.Id == n.Id)
                                                        {
                                                            <option value="@n.Id">@n.Nome</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@n.Id">@n.Nome</option>
                                                        }
                                                    }
                                                }
                                            </select>
                                        </div>

                                        <div class="form-group col-md-3">
                                            <label for="classe">Classe</label>
                                            <input type="text" class="form-control" id="classe" name="Classe" value="@Model.item.Classe" />
                                        </div>

                                        <div class="form-group col-md-4">
                                            <label for="local_aplicado">Local Aplicado</label>
                                            <input type="text" class="form-control" id="local_aplicado" name="Local_Aplicado" value="@Model.item.LocalAplicado" />
                                        </div>
                                        <div class="form-group col-md-2">
                                            <label for="Ruela_de_pressao_din_12" style="font-size:12px;">Ruela de Pressão DIN-12</label>
                                            <select type="text" class="form-control" id="Ruela_de_pressao_din_12" name="Ruela_Pressao_Din12">
                                                @{
                                                    if (Model.item.RuelaDePressaDin12)
                                                    {
                                                        <option selected value="true">Sim</option>
                                                        <option value="false">Não</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="true">Sim</option>
                                                        <option selected value="false">Não</option>
                                                    }
                                                }

                                            </select>
                                        </div>
                                    </div>
                                    <input class="tipo_item" type="hidden" value="@Model.item.Id" name="ID_Item" />
                                </div>
                            </div>
                            <div>
                                <input type="hidden" class="form-control" id="ID_Peritagem" name="ID_Peritagem" value="@Model.ID_Peritagem">
                            </div>
                            <input type="submit" class="btn btn-primary mb-2" value="Enviar" />
                        </form>
                    </div>
                }
            }

            <!-------------------------------------PORCAS -------------------------------------->
            @{
                if (Model.item.TipoItem.Nome == "Porca" || Model.item.TipoItem.Id == 15)
                {
                    <div>
                        <h2 id="titulo-form">Porcas</h2>
                        <form action="@Url.Action("GravarAlteracao", "ItemDiverso")" method="post">
                            <div id="form_porca">
                                <div id="porca">
                                    <div class="form-row">
                                        <div class="form-group col-md-1">
                                            <label for="quantidade">Quant.</label>
                                            <input type="text" class="form-control" id="quantidade" name="Quantidade" onkeypress="ValidarNumerosInteiro()" value="@Model.item.Quantidade" />
                                        </div>
                                        <div class="form-group col-md-2">
                                            <label for="rosca">Rosca</label>
                                            <input type="text" class="form-control" id="rosca" name="Rosca" value="@Model.item.Rosca" />
                                        </div>
                                        <div class="form-group col-md-2">
                                            <label for="passo">Passo</label>
                                            <input type="text" class="form-control" id="passo" name="Passo" value="@Model.item.Passo" />
                                        </div>

                                        <div class="form-group col-md-2">
                                            <label for="classe">Classe</label>
                                            <input type="text" class="form-control" id="classe" name="Classe" value="@Model.item.Classe" />
                                        </div>
                                        <div class="form-group col-md-2">
                                            <label for="norma">Norma</label>
                                            <select type="text" class="form-control" id="norma" name="ID_Norma">
                                                @{
                                                    foreach (var n in Model.listNorma)
                                                    {
                                                        if (Model.item.Norma.Id == n.Id)
                                                        {
                                                            <option selected value="@n.Id">@n.Nome</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@n.Id">@n.Nome</option>
                                                        }
                                                    }
                                                }
                                            </select>
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label for="local_aplicado">Local Aplicado</label>
                                            <input type="text" class="form-control" id="local_aplicado" name="Local_Aplicado" value="@Model.item.LocalAplicado" />
                                        </div>
                                    </div>
                                    <input class="tipo_item" type="hidden" value="@Model.item.Id" name="ID_Item" />
                                </div>
                            </div>
                            <div>
                                <input type="hidden" class="form-control" id="ID_Peritagem" name="ID_Peritagem" value="@Model.ID_Peritagem">
                            </div>
                            <input type="submit" class="btn btn-primary mb-2" value="Enviar" />
                        </form>
                    </div>

                }
            }
            <!-------------------------------------PINO GUIA -------------------------------------->
            @{
                if (Model.item.TipoItem.Nome == "Pino Guia" || Model.item.TipoItem.Id == 16)
                {
                    <div>
                        <h2 id="titulo-form">Pino Guia</h2>
                        <form action="@Url.Action("GravarAlteracao", "ItemDiverso")" method="post">
                            <div id="form_pino_guia">
                                <div id="pino_guia">
                                    <div class="form-row">
                                        <div class="form-group col-md-1">
                                            <label for="quantidade">Quant.</label>
                                            <input type="text" class="form-control" id="quantidade" name="Quantidade" onkeypress="ValidarNumerosInteiro()" value="@Model.item.Quantidade" />
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label for="dimensao">Dimensão</label>
                                            <input type="text" class="form-control" id="dimensao" name="Dimensao" value="@Model.item.Dimensao" />
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label for="norma">Norma</label>
                                            <select type="text" class="form-control" id="norma" name="ID_Norma">
                                                @{
                                                    foreach (var n in Model.listNorma)
                                                    {
                                                        if (Model.item.Norma.Id == n.Id)
                                                        {
                                                            <option selected value="@n.Id">@n.Nome</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@n.Id">@n.Nome</option>
                                                        }
                                                    }
                                                }
                                            </select>
                                        </div>
                                        <div class="form-group col-md-5">
                                            <label for="local_aplicado">Local Aplicado</label>
                                            <input type="text" class="form-control" id="local_aplicado" name="Local_Aplicado" value="@Model.item.LocalAplicado" />
                                        </div>
                                    </div>
                                    <input class="tipo_item" type="hidden" value="@Model.item.Id" name="ID_Item" />

                                </div>
                            </div>
                            <div>
                                <input type="hidden" class="form-control" id="ID_Peritagem" name="ID_Peritagem" value="@Model.ID_Peritagem">
                            </div>
                            <input type="submit" class="btn btn-primary mb-2" value="Enviar" />
                        </form>
                    </div>
                }
            }
            <!-------------------------------------PINO ELASTICO -------------------------------------->
            @{
                if (Model.item.TipoItem.Nome == "Pino Elástico" || Model.item.TipoItem.Id == 17)
                {
                    <div>
                        <h2 id="titulo-form">Pino Elástico</h2>
                        <form action="@Url.Action("GravarAlteracao", "ItemDiverso")" method="post">
                            <div id="form_pino_elastico">
                                <div id="pino_elastico">
                                    <div class="form-row">
                                        <div class="form-group col-md-1">
                                            <label for="quantidade">Quant.</label>
                                            <input type="text" class="form-control" id="quantidade" name="Quantidade" onkeypress="ValidarNumerosInteiro()" value="@Model.item.Quantidade" />
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label for="dimensao">Dimensão</label>
                                            <input type="text" class="form-control" id="dimensao" name="Dimensao" value="@Model.item.Dimensao" />
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label for="norma">Norma</label>
                                            <select type="text" class="form-control" id="norma" name="ID_Norma">
                                                @{
                                                    foreach (var n in Model.listNorma)
                                                    {
                                                        if (Model.item.Norma.Id == n.Id)
                                                        {
                                                            <option selected value="@n.Id">@n.Nome</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@n.Id">@n.Nome</option>
                                                        }
                                                    }
                                                }
                                            </select>
                                        </div>
                                        <div class="form-group col-md-5">
                                            <label for="local_aplicado">Local Aplicado</label>
                                            <input type="text" class="form-control" id="local_aplicado" name="Local_Aplicado" value="@Model.item.LocalAplicado" />
                                        </div>
                                    </div>
                                    <input class="tipo_item" type="hidden" value="@Model.item.Id" name="ID_Item" />
                                </div>
                            </div>
                            <div>
                                <input type="hidden" class="form-control" id="ID_Peritagem" name="ID_Peritagem" value="@Model.ID_Peritagem">
                            </div>
                            <input type="submit" class="btn btn-primary mb-2" value="Enviar" />
                        </form>
                    </div>
                }
            }

            <!-------------------------------------ARRUELA LISA -------------------------------------->

            @{
                if (Model.item.TipoItem.Nome == "Arruela Lisa" || Model.item.TipoItem.Id == 18)
                {
                    <div>
                        <h2 id="titulo-form">Arruela Lisa</h2>
                        <form action="@Url.Action("GravarAlteracao", "ItemDiverso")" method="post">
                            <div id="form_arruela_lisa">
                                <div id="arruela_lisa">
                                    <div class="form-row">
                                        <div class="form-group col-md-1">
                                            <label for="quantidade">Quant.</label>
                                            <input type="text" class="form-control" id="quantidade" name="Quantidade" value="@Model.item.Quantidade" />
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label for="dimensao">Dimensão</label>
                                            <input type="text" class="form-control" id="dimensao" name="Dimensao" value="@Model.item.Dimensao" />
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label for="norma">Norma</label>
                                            <select type="text" class="form-control" id="norma" name="ID_Norma">
                                                @{
                                                    foreach (var n in Model.listNorma)
                                                    {
                                                        if (Model.item.Norma.Id == n.Id)
                                                        {
                                                            <option selected value="@n.Id">@n.Nome</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@n.Id">@n.Nome</option>
                                                        }
                                                    }
                                                }
                                            </select>
                                        </div>
                                        <div class="form-group col-md-5">
                                            <label for="local_aplicado">Local Aplicado</label>
                                            <input type="text" class="form-control" id="local_aplicado" name="Local_Aplicado" value="@Model.item.LocalAplicado" />
                                        </div>
                                    </div>
                                    <input class="tipo_item" type="hidden" value="@Model.item.Id" name="ID_Item" />
                                </div>
                            </div>
                            <div>
                                <input type="hidden" class="form-control" id="ID_Peritagem" name="ID_Peritagem" value="@Model.ID_Peritagem">
                            </div>
                            <input type="submit" class="btn btn-primary mb-2" value="Enviar" />
                        </form>
                    </div>
                }
            }
            <!-------------------------------------ARRUELA DE PRESSÃO -------------------------------------->
            @{
                if (Model.item.TipoItem.Nome == "Arruela de Pressão" || Model.item.TipoItem.Id == 19)
                {
                    <div>
                        <h2 id="titulo-form">Arruela de Pressão</h2>
                        <form action="@Url.Action("GravarAlteracao", "ItemDiverso")" method="post">
                            <div id="form_arruela_pressao">
                                <div id="arruela_pressao">
                                    <div class="form-row">
                                        <div class="form-group col-md-1">
                                            <label for="quantidade">Quant.</label>
                                            <input type="text" class="form-control" id="quantidade" name="Quantidade" onkeypress="ValidarNumerosInteiro()" value="@Model.item.Quantidade" />
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label for="dimensao">Dimensão</label>
                                            <input type="text" class="form-control" id="dimensao" name="Dimensao" value="@Model.item.Dimensao" />
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label for="norma">Norma</label>
                                            <select type="text" class="form-control" id="norma" name="ID_Norma">
                                                @{
                                                    foreach (var n in Model.listNorma)
                                                    {
                                                        if (Model.item.Norma.Id == n.Id)
                                                        {
                                                            <option selected value="@n.Id">@n.Nome</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@n.Id">@n.Nome</option>
                                                        }
                                                    }
                                                }
                                            </select>
                                        </div>
                                        <div class="form-group col-md-5">
                                            <label for="local_aplicado">Local Aplicado</label>
                                            <input type="text" class="form-control" id="local_aplicado" name="Local_Aplicado" value="@Model.item.LocalAplicado" />
                                        </div>
                                    </div>
                                    <input class="tipo_item" type="hidden" value="@Model.item.Id" name="ID_Item" />
                                </div>
                            </div>
                            <div>
                                <input type="hidden" class="form-control" id="ID_Peritagem" name="ID_Peritagem" value="@Model.ID_Peritagem">
                            </div>
                            <input type="submit" class="btn btn-primary mb-2" value="Enviar" />
                        </form>
                    </div>
                }
            }

            <!-------------------------------------ROLAMENTO-------------------------------------->
            @{
                if (Model.item.TipoItem.Nome == "Rolamento" || Model.item.TipoItem.Id == 20)
                {
                    <div>
                        <h2 id="titulo-form">Rolamento</h2>
                        <form action="@Url.Action("GravarAlteracao", "ItemDiverso")" method="post">
                            <div id="form_rolamento">
                                <div id="rolamento">
                                    <div class="form-row">
                                        <div class="form-group col-md-1">
                                            <label for="quantidade">Quant.</label>
                                            <input type="text" class="form-control" id="quantidade" name="Quantidade" onkeypress="ValidarNumerosInteiro()" value="@Model.item.Id" />
                                        </div>
                                        <div class="form-group col-md-2">
                                            <label for="codigo">Código</label>
                                            <input type="text" class="form-control" id="codigo" name="Codigo" value="@Model.item.Codigo" />
                                        </div>
                                        <div class="form-group col-md-2">
                                            <label for="dimensao">Dimensão</label>
                                            <input type="text" class="form-control" id="dimensao" name="Dimensao" value="@Model.item.Dimensao" />
                                        </div>
                                        <div class="form-group col-md-2">
                                            <label for="fabricante">Fabricante</label>
                                            <input type="text" class="form-control" id="fabricante" name="Fabricante" value="@Model.item.Fabricante" />
                                        </div>
                                        <div class="form-group col-md-2">
                                            <label for="local_aplicado">Local Aplicado</label>
                                            <input type="text" class="form-control" id="local_aplicado" name="Local_Aplicado" value="@Model.item.LocalAplicado" />
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label for="observacao">Observação</label>
                                            <input type="text" class="form-control" id="observacao" name="Observacao" value="@Model.item.Observacao" />
                                        </div>
                                    </div>
                                    <input class="tipo_item" type="hidden" value="@Model.item.Id" name="ID_Item" />

                                </div>
                            </div>
                            <div>
                                <input type="hidden" class="form-control" id="ID_Peritagem" name="ID_Peritagem" value="@Model.ID_Peritagem">
                            </div>
                            <input type="submit" class="btn btn-primary mb-2" value="Enviar" />
                        </form>
                    </div>
                }
            }
            <!-------------------------------------RETENTORES DIN 3760 -------------------------------------->
            @{
                if (Model.item.TipoItem.Nome == "retentores_din3760_geral" || Model.item.TipoItem.Id == 21)
                {
                    <div>
                        <h2 id="titulo-form">Retentores DIN 3760</h2>
                        <form action="@Url.Action("GravarAlteracao", "ItemDiverso")" method="post">
                            <div id="form_retentores_din3760">
                                <div id="retentores_din3760">
                                    <div class="form-row">
                                        <div class="form-group col-md-1">
                                            <label for="quantidade">Quant.</label>
                                            <input type="text" class="form-control" id="quantidade" name="Quantidade" onkeypress="ValidarNumerosInteiro()" value="@Model.item.Quantidade" />
                                        </div>

                                        <div class="form-group col-md-3">
                                            <label for="dimensao">Dimensão</label>
                                            <input type="text" class="form-control" id="dimensao" name="Dimensao" value="@Model.item.Dimensao" />
                                        </div>
                                        <div class="form-group col-md-2">
                                            <label for="labio">Labio A / AS</label>
                                            <input type="text" class="form-control" id="labio" name="Labio" value="@Model.item.Labio" />
                                        </div>
                                        <div class="form-group col-md-2">
                                            <label for="borracha">Borracha = BN / FKM</label>
                                            <input type="text" class="form-control" id="borracha" name="Borracha" value="@Model.item.Borracha" />
                                        </div>
                                        <div class="form-group col-md-2">
                                            <label for="fabricante">Fabricante</label>
                                            <input type="text" class="form-control" id="fabricante" name="Fabricante" value="@Model.item.Fabricante" />
                                        </div>
                                        <div class="form-group col-md-2">
                                            <label for="local_aplicado">Local Aplicado</label>
                                            <input type="text" class="form-control" id="local_aplicado" name="Local_Aplicado" value="@Model.item.LocalAplicado" />
                                        </div>
                                    </div>
                                    <input class="tipo_item" type="hidden" value="" name="ID_Item" />
                                </div>
                            </div>
                            <div>
                                <input type="hidden" class="form-control" id="ID_Peritagem" name="ID_Peritagem" value="@Model.ID_Peritagem">
                            </div>
                            <input type="submit" class="btn btn-primary mb-2" value="Enviar" />
                        </form>
                    </div>
                }
            }
            <!-------------------------------------ELEMENTOS DE RETENÇÃO-------------------------------------->
            @{
                if (Model.item.TipoItem.Nome == "Elementos de Vedação" || Model.item.TipoItem.Id == 22)
                {
                    <div>
                        <h2 id="titulo-form">Elementos de Vedação</h2>
                        <form action="@Url.Action("GravarAlteracao", "ItemDiverso")" method="post">
                            <div id="form_elemento_redencao">
                                <div id="elemento_redencao">
                                    <div class="form-row">
                                        <div class="form-group col-md-1">
                                            <label for="quantidade">Quant.</label>
                                            <input type="text" class="form-control" id="quantidade" name="Quantidade" onkeypress="ValidarNumerosInteiro()" value="@Model.item.Quantidade" />
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label for="descricao">Descricao</label>
                                            <input type="text" class="form-control" id="descricao" name="Descricao" value="@Model.item.Descricao" />
                                        </div>
                                        <div class="form-group col-md-2">
                                            <label for="dimensao">Dimensão</label>
                                            <input type="text" class="form-control" id="dimensao" name="Dimensao" value="@Model.item.Dimensao" />
                                        </div>
                                        <div class="form-group col-md-2">
                                            <label for="material">Material</label>
                                            <select type="text" class="form-control" id="material" name="ID_Material">
                                                @{
                                                    foreach (var mat in Model.listMaterial)
                                                    {
                                                        if (mat.Id == Model.item.Material.Id)
                                                        {
                                                            <option selected value="@mat.Id">@mat.Nome</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@mat.Id">@mat.Nome</option>
                                                        }
                                                    }
                                                }
                                            </select>
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label for="local_aplicado">Local Aplicado</label>
                                            <input type="text" class="form-control" id="local_aplicado" name="Local_Aplicado" value="@Model.item.LocalAplicado" />
                                        </div>
                                    </div>
                                    <input class="tipo_item" type="hidden" value="@Model.item.Id" name="ID_Item" />
                                </div>
                            </div>
                            <div>
                                <input type="hidden" class="form-control" id="ID_Peritagem" name="ID_Peritagem" value="@Model.ID_Peritagem">
                            </div>
                            <input type="submit" class="btn btn-primary mb-2" value="Enviar" />
                        </form>
                    </div>
                }
            }

            <!-------------------------------------CHAVETAS -------------------------------------->
            @{
                if (Model.item.TipoItem.Nome == "Chavetas" || Model.item.TipoItem.Id == 23)
                {
                    <div>
                        <h2 id="titulo-form">Chavetas</h2>
                        <form action="@Url.Action("GravarAlteracao", "ItemDiverso")" method="post">
                            <div id="form_chaveta">
                                <div id="chaveta">
                                    <div class="form-row">
                                        <div class="form-group col-md-1">
                                            <label for="quantidade">Quant.</label>
                                            <input type="text" class="form-control" id="quantidade" name="Quantidade" onkeypress="ValidarNumerosInteiro()" value="@Model.item.Quantidade" />
                                        </div>
                                        <div class="form-group col-md-2">
                                            <label for="l1">L1</label>
                                            <input type="text" class="form-control" id="l1" name="L1" onkeypress="ValidarNumerosInteiro()" value="@Model.item.L1" />
                                        </div>
                                        <div class="form-group col-md-2">
                                            <label for="l2">L2</label>
                                            <input type="text" class="form-control" id="l2" name="L2" onkeypress="ValidarNumerosInteiro()" value="@Model.item.L2" />
                                        </div>
                                        <div class="form-group col-md-2">
                                            <label for="l3">L3</label>
                                            <input type="text" class="form-control" id="l3" name="L3" onkeypress="ValidarNumerosInteiro()" value="@Model.item.L3" />
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label for="local_aplicado">Local Aplicado</label>
                                            <input type="text" class="form-control" id="local_aplicado" name="Local_Aplicado" value="@Model.item.LocalAplicado" />
                                        </div>
                                        <div class="form-group col-md-2">
                                            <label for="condicao">Condição</label>
                                            <select type="text" class="form-control" id="condicao" name="ID_Disposicao">
                                                @{
                                                    foreach (var d in Model.listDisposicao)
                                                    {
                                                        if (Model.item.Disposicao.ID_Disposicao == d.ID_Disposicao)
                                                        {
                                                            <option selected value="@d.ID_Disposicao">@d.Nome</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@d.ID_Disposicao">@d.Nome</option>
                                                        }
                                                    }
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <input class="tipo_item" type="hidden" value="@Model.item.Id" name="ID_Item" />
                                </div>
                            </div>
                            <div>
                                <input type="hidden" class="form-control" id="ID_Peritagem" name="ID_Peritagem" value="@Model.ID_Peritagem" />
                            </div>
                            <input type="submit" class="btn btn-primary mb-2" value="Enviar" />
                        </form>
                    </div>
                }
            }
            <!------------------------------------- CONTRA RECUO -------------------------------------->
            @{
                if (Model.item.TipoItem.Nome == "Contra Recuo" || Model.item.TipoItem.Id == 24)
                {
                    <div>
                        <h2 id="titulo-form">Contra Recuo</h2>
                        <form action="@Url.Action("GravarAlteracao", "ItemDiverso")" method="post">
                            <div id="form_contra_recuo">
                                <div id="contra_recuo">
                                    <div class="form-row">
                                        <div class="form-group col-md-2">
                                            <label for="condicao">Condição</label>
                                            <select type="text" class="form-control" id="condicao" name="ID_Disposicao">
                                                @{
                                                    foreach (var d in Model.listDisposicao)
                                                    {
                                                        if (Model.item.Disposicao.ID_Disposicao == d.ID_Disposicao)
                                                        {
                                                            <option selected value="@d.ID_Disposicao">@d.Nome</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@d.ID_Disposicao">@d.Nome</option>
                                                        }
                                                    }
                                                }
                                            </select>
                                        </div>
                                        <div class="form-group col-md-2">
                                            <label for="marca">Marca</label>
                                            <input type="text" class="form-control" id="Marca" name="Marca" value="@Model.item.Marca" />
                                        </div>
                                        <div class="form-group col-md-2">
                                            <label for="modelo">Modelo</label>
                                            <input type="text" class="form-control" id="modelo" name="Modelo" value="@Model.item.Modelo" />
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label for="dimensao">Dimensão</label>
                                            <input type="text" class="form-control" id="dimensao" name="Dimensao" value="@Model.item.Dimensao" />
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label for="local_aplicado">Local Aplicado</label>
                                            <input type="text" class="form-control" id="local_aplicado" name="Local_Aplicado" value="@Model.item.LocalAplicado" />
                                        </div>

                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-12">
                                            <label for="descricao">Descrição</label>
                                            <textarea class="form-control" id="descricao" name="Descricao">@Model.item.Descricao</textarea>
                                        </div>
                                    </div>
                                    <input class="tipo_item" type="hidden" value="@Model.item.Id" name="ID_Item" />
                                </div>
                            </div>
                            <div>
                                <input type="hidden" class="form-control" id="ID_Peritagem" name="ID_Peritagem" value="@Model.ID_Peritagem">
                            </div>
                            <input type="submit" class="btn btn-primary mb-2" value="Enviar" />
                        </form>
                    </div>
                }
            }

            <!------------------------------------- HELICE -------------------------------------->
            @{
                if (Model.item.TipoItem.Nome == "Hélice" || Model.item.TipoItem.Id == 25)
                {
                    <div>
                        <h2 id="titulo-form">Hélice</h2>
                        <form action="@Url.Action("GravarAlteracao", "ItemDiverso")" method="post">
                            <div id="form_helice">
                                <div id="helice">
                                    <div class="form-row">
                                        <div class="form-group col-md-2">
                                            <label for="condicao">Condição</label>
                                            <select type="text" class="form-control" id="condicao" name="ID_Disposicao">
                                                @{
                                                    foreach (var d in Model.listDisposicao)
                                                    {
                                                        if (Model.item.Disposicao.ID_Disposicao == d.ID_Disposicao)
                                                        {
                                                            <option selected value="@d.ID_Disposicao">@d.Nome</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@d.ID_Disposicao">@d.Nome</option>
                                                        }
                                                    }
                                                }
                                            </select>
                                        </div>
                                        <div class="form-group col-md-2">
                                            <label for="marca">Marca</label>
                                            <input type="text" class="form-control" id="Marca" name="Marca" value="@Model.item.Marca" />
                                        </div>
                                        <div class="form-group col-md-2">
                                            <label for="modelo">Modelo</label>
                                            <input type="text" class="form-control" id="modelo" name="Modelo" value="@Model.item.Modelo" />
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label for="dimensao">Dimensão</label>
                                            <input type="text" class="form-control" id="dimensao" name="Dimensao" value="@Model.item.Dimensao" />
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label for="local_aplicado">Local Aplicado</label>
                                            <input type="text" class="form-control" id="local_aplicado" name="Local_Aplicado" value="@Model.item.LocalAplicado" />
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-12">
                                            <label for="descricao">Descrição</label>
                                            <textarea class="form-control" id="descricao" name="Descricao">@Model.item.Descricao</textarea>
                                        </div>
                                    </div>
                                    <input type="hidden" value="@Model.item.Id" name="ID_Item" />
                                </div>
                            </div>
                            <div>
                                <input type="hidden" class="form-control" id="ID_Peritagem" name="ID_Peritagem" value="@Model.ID_Peritagem">
                            </div>
                            <input type="submit" class="btn btn-primary mb-2" value="Enviar" />
                        </form>
                    </div>
                }
            }
            <!------------------------------------- ACOPLAMENTO -------------------------------------->
            @{
                if (Model.item.TipoItem.Nome == "Acoplamento" || Model.item.TipoItem.Id == 26)
                {
                    <div>
                        <h2 id="titulo-form">Acoplamento</h2>
                        <form action="@Url.Action("GravarAlteracao", "ItemDiverso")" method="post">
                            <div id="form_acoplamento">
                                <div id="acoplamento">
                                    <div class="form-row">
                                        <div class="form-group col-md-2">
                                            <label for="condicao">Condição</label>
                                            <select type="text" class="form-control" id="condicao" name="ID_Disposicao">
                                                @{
                                                    foreach (var d in Model.listDisposicao)
                                                    {
                                                        if (Model.item.Disposicao.ID_Disposicao == d.ID_Disposicao)
                                                        {
                                                            <option selected value="@d.ID_Disposicao">@d.Nome</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@d.ID_Disposicao">@d.Nome</option>
                                                        }
                                                    }
                                                }
                                            </select>
                                        </div>
                                        <div class="form-group col-md-2">
                                            <label for="marca">Marca</label>
                                            <input type="text" class="form-control" id="Marca" name="Marca" value="@Model.item.Marca" />
                                        </div>
                                        <div class="form-group col-md-2">
                                            <label for="modelo">Modelo</label>
                                            <input type="text" class="form-control" id="modelo" name="Modelo" value="@Model.item.Modelo" />
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label for="dimensao">Dimensão</label>
                                            <input type="text" class="form-control" id="dimensao" name="Dimensao" value="@Model.item.Modelo" />
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label for="local_aplicado">Local Aplicado</label>
                                            <input type="text" class="form-control" id="local_aplicado" name="Local_Aplicado" value="@Model.item.LocalAplicado" />
                                        </div>

                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-12">
                                            <label for="descricao">Descrição</label>
                                            <textarea class="form-control" id="descricao" name="Descricao">@Model.item.Descricao</textarea>
                                        </div>
                                    </div>
                                    <input type="hidden" value="@Model.item.Id" name="ID_Item" />
                                </div>
                            </div>
                            <div>
                                <input type="hidden" class="form-control" id="ID_Peritagem" name="ID_Peritagem" value="@Model.ID_Peritagem">
                            </div>
                            <input type="submit" class="btn btn-primary mb-2" value="Enviar" />
                        </form>
                    </div>

                }
            }

        </div>
</div>
<script src="~/js/ValidadorCampos.js"></script>


