@model ProjetoPeritagem.ViewHelper.ViewHelperPeritagem
@{
    ViewData["Title"] = "ListarItem";
}
<partial name="_SubMenu" />

<h2 id="titulo-form">Listar Items Diversos</h2>
<div id="main">
    <div id="tabela">

      
        <!-----------------------------------------------VISOR DE NÍVEL----------------------------------------->

        <table class="table table-striped">
            <thead class="thead-dark">
                <tr class="tabela_visualizar_titulo">
                    <td colspan="5"><h6>Visor de Nível</h6></td>
                    <td class="btn_padrao">
                        <a class="badge badge-primary" href="@Url.Action( "InserirItem", "ItemDiverso", new { ID_Peritagem = Model.ID_Peritagem })">Inserir</a><br />
                    </td>
                </tr>
                <tr class="tabela_visualizar_titulo_item">
                    <th scope="col">ID</th>
                    <th scope="col">Qtde</th>
                    <th scope="col">Rosca</th>
                    <th scope="col">Modelo</th>
                    <th scope="col">Condição</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var bj in Model.listItemDiverso)
                    {
                        if (bj.TipoItem.Id == 8 || bj.TipoItem.Nome == "Visor de Nível")
                        {
                        <tr>
                            <td>@bj.Id</td>
                            <td>@bj.Quantidade</td>
                            <td>@bj.Rosca</td>
                            <td>@bj.Modelo</td>
                            <td>@bj.Disposicao.Nome</td>
                            <td>
                                <a class="badge badge-warning" href="@Url.Action( "AlterarItem", "ItemDiverso", new { ID_Peritagem = Model.ID_Peritagem, ID_Item = bj.Id })">Alterar</a><br />
                                <a class="badge badge-danger" href="@Url.Action( "ExcluirItem", "ItemDiverso", new { ID_Peritagem = Model.ID_Peritagem, ID_Item = bj.Id })">Excluir</a><br />
                            </td>
                        </tr>
                        }
                    }
                }
            </tbody>
        </table>


        <!-----------------------------------------------RESPIROS / FILTROS DE AR ----------------------------------------->
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr class="tabela_visualizar_titulo">
                    <td colspan="5"><h6>Respiros / Filtro de AR</h6></td>
                    <td class="btn_padrao">
                        <a class="badge badge-primary" href="@Url.Action( "InserirItem", "ItemDiverso", new { ID_Peritagem = Model.ID_Peritagem })">Inserir</a><br />
                    </td>
                </tr>
                <tr class="tabela_visualizar_titulo_item">
                    <th scope="col">ID</th>
                    <th scope="col">Qtde</th>
                    <th scope="col">Rosca</th>
                    <th scope="col">Modelo</th>
                    <th scope="col">Condição</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var bj in Model.listItemDiverso)
                    {
                        if (bj.TipoItem.Id == 10 || bj.TipoItem.Nome == "Respiro / Filtro de ar")
                        {
                            <tr>
                                <td>@bj.Id</td>
                                <td>@bj.Quantidade</td>
                                <td>@bj.Rosca</td>
                                <td>@bj.Modelo</td>
                                <td>@bj.Disposicao.Nome</td>
                                <td>
                                    <a class="badge badge-warning" href="@Url.Action( "AlterarItem", "ItemDiverso", new { ID_Peritagem = Model.ID_Peritagem, ID_Item = bj.Id })">Alterar</a><br />
                                    <a class="badge badge-danger" href="@Url.Action( "ExcluirItem", "ItemDiverso", new { ID_Peritagem = Model.ID_Peritagem, ID_Item = bj.Id })">Excluir</a><br />
                                    <a class="badge badge-info" href="@Url.Action( "ListarImagem", "Imagem", new { ID_Peritagem = Model.ID_Peritagem, ID_ItemDiverso = bj.Id })">Album</a><br />
                                </td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>


        <!-----------------------------------------------ANEL ELÁSTICO ----------------------------------------->

        <table class="table table-striped">
            <thead class="thead-dark">
                <tr class="tabela_visualizar_titulo">
                    <td colspan="5"><h6>Anel Elástico</h6></td>
                    <td class="btn_padrao">
                        <a class="badge badge-primary" href="@Url.Action( "InserirItem", "ItemDiverso", new { ID_Peritagem = Model.ID_Peritagem })">Inserir</a><br />
                    </td>
                </tr>
                <tr class="tabela_visualizar_titulo_item">
                    <th scope="col">ID</th>
                    <th scope="col">Qtde</th>
                    <th scope="col">Rosca</th>
                    <th scope="col">Norma</th>
                    <th scope="col">Local Aplicado</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var bj in Model.listItemDiverso)
                    {
                        if (bj.TipoItem.Id == 11 || bj.TipoItem.Nome == "Anel Elástico")
                        {
                            <tr>
                                <td>@bj.Id</td>
                                <td>@bj.Quantidade</td>
                                <td>@bj.Rosca</td>
                                <td>@bj.Norma.Nome</td>
                                <td>@bj.LocalAplicado</td>
                                <td>
                                    <a class="badge badge-warning" href="@Url.Action( "AlterarItem", "ItemDiverso", new { ID_Peritagem = Model.ID_Peritagem, ID_Item = bj.Id })">Alterar</a><br />
                                    <a class="badge badge-danger" href="@Url.Action( "ExcluirItem", "ItemDiverso", new { ID_Peritagem = Model.ID_Peritagem, ID_Item = bj.Id })">Excluir</a><br />
                                    <a class="badge badge-info" href="@Url.Action( "ListarImagem", "Imagem", new { ID_Peritagem = Model.ID_Peritagem, ID_ItemDiverso = bj.Id })">Album</a><br />
                                </td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>


        <!-----------------------------------------------BUJÕES----------------------------------------->


        <table class="table table-striped">
            <thead class="thead-dark">
                <tr class="tabela_visualizar_titulo">
                    <td colspan="5"><h6>Bujões</h6></td>
                    <td class="btn_padrao">
                        <a class="badge badge-primary" href="@Url.Action( "InserirItem", "ItemDiverso", new { ID_Peritagem = Model.ID_Peritagem })">Inserir</a><br />
                    </td>
                </tr>
                <tr class="tabela_visualizar_titulo_item">
                    <th scope="col">ID</th>
                    <th scope="col">Qtde</th>
                    <th scope="col">Rosca</th>
                    <th scope="col">Norma</th>
                    <th scope="col">Condição</th>
                    <th scope="col"></th>

                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var bj in Model.listItemDiverso)
                    {
                        if (bj.TipoItem.Id == 9 || bj.TipoItem.Nome == "Bujões")
                        {
                            <tr>
                                <td>@bj.Id</td>
                                <td>@bj.Quantidade</td>
                                <td>@bj.Rosca</td>
                                <td>@bj.Norma.Nome</td>
                                <td>@bj.Disposicao.Nome</td>
                                <td>
                                    <a class="badge badge-warning" href="@Url.Action( "AlterarItem", "ItemDiverso", new { ID_Peritagem = Model.ID_Peritagem, ID_Item = bj.Id })">Alterar</a><br />
                                    <a class="badge badge-danger" href="@Url.Action( "ExcluirItem", "ItemDiverso", new { ID_Peritagem = Model.ID_Peritagem, ID_Item = bj.Id })">Excluir</a><br />
                                    <a class="badge badge-info" href="@Url.Action( "ListarImagem", "Imagem", new { ID_Peritagem = Model.ID_Peritagem, ID_ItemDiverso = bj.Id })">Album</a><br />
                                </td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>


        <!-----------------------------------------------ENGRAXADEIRA ----------------------------------------->

        <table class="table table-striped">
            <thead class="thead-dark">
                <tr class="tabela_visualizar_titulo">
                    <td colspan="7"><h6>Engraxadeira</h6></td>
                    <td class="btn_padrao">
                        <a class="badge badge-primary" href="@Url.Action( "InserirItem", "ItemDiverso", new { ID_Peritagem = Model.ID_Peritagem })">Inserir</a><br />
                    </td>
                </tr>
                <tr class="tabela_visualizar_titulo_item">
                    <th scope="col">ID</th>
                    <th scope="col">Qtde</th>
                    <th scope="col">Modelo</th>
                    <th scope="col">Norma</th>
                    <th scope="col">Rosca</th>
                    <th scope="col">Local Aplicado</th>
                    <th scope="col">Condição</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var bj in Model.listItemDiverso)
                    {
                        if (bj.TipoItem.Id == 12 || bj.TipoItem.Nome == "Engraxadeira")
                        {
                            <tr>
                                <td>@bj.Id</td>
                                <td>@bj.Quantidade</td>
                                <td>@bj.Modelo</td>
                                <td>@bj.Norma.Nome</td>
                                <td>@bj.Rosca</td>
                                <td>@bj.LocalAplicado</td>
                                <td>@bj.Disposicao.Nome</td>
                                <td>
                                    <a class="badge badge-warning" href="@Url.Action( "AlterarItem", "ItemDiverso", new { ID_Peritagem = Model.ID_Peritagem, ID_Item = bj.Id })">Alterar</a><br />
                                    <a class="badge badge-danger" href="@Url.Action( "ExcluirItem", "ItemDiverso", new { ID_Peritagem = Model.ID_Peritagem, ID_Item = bj.Id })">Excluir</a><br />
                                    <a class="badge badge-info" href="@Url.Action( "ListarImagem", "Imagem", new { ID_Peritagem = Model.ID_Peritagem, ID_ItemDiverso = bj.Id })">Album</a><br />
                                </td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>



        <!-----------------------------------------------CONEXOES / SENSORES / VALVULAS----------------------------------------->

        <table class="table table-striped">
            <thead class="thead-dark">
                <tr class="tabela_visualizar_titulo">
                    <td colspan="7"><h6>Conexões / Sensores / Válvulas</h6></td>
                    <td class="btn_padrao">
                        <a class="badge badge-primary" href="@Url.Action( "InserirItem", "ItemDiverso", new { ID_Peritagem = Model.ID_Peritagem })">Inserir</a><br />
                    </td>
                </tr>
                <tr class="tabela_visualizar_titulo_item">
                    <th scope="col">ID</th>
                    <th scope="col">Qtde</th>
                    <th scope="col">Modelo</th>
                    <th scope="col">Norma</th>
                    <th scope="col">Rosca</th>
                    <th scope="col">Local Aplicado</th>
                    <th scope="col">Condição</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var bj in Model.listItemDiverso)
                    {
                        if (bj.TipoItem.Id == 13 || bj.TipoItem.Nome == "Conexões/Sensores/Válvulas - Itens de Lubrificação")
                        {
                            <tr>
                                <td>@bj.Id</td>
                                <td>@bj.Quantidade</td>
                                <td>@bj.Modelo</td>
                                <td>@bj.Norma</td>
                                <td>@bj.Rosca</td>
                                <td>@bj.LocalAplicado</td>
                                <td>@bj.Disposicao.Nome</td>
                                <td>
                                    <a class="badge badge-warning" href="@Url.Action( "AlterarItem", "ItemDiverso", new { ID_Peritagem = Model.ID_Peritagem, ID_Item = bj.Id })">Alterar</a><br />
                                    <a class="badge badge-danger" href="@Url.Action( "ExcluirItem", "ItemDiverso", new { ID_Peritagem = Model.ID_Peritagem, ID_Item = bj.Id })">Excluir</a><br />
                                    <a class="badge badge-info" href="@Url.Action( "ListarImagem", "Imagem", new { ID_Peritagem = Model.ID_Peritagem, ID_ItemDiverso = bj.Id })">Album</a><br />
                                </td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>

        <!-----------------------------------------------PARAFUSOS ----------------------------------------->


        <table class="table table-striped">
            <thead class="thead-dark">
                <tr class="tabela_visualizar_titulo">
                    <td colspan="9"><h6>Parafusos</h6></td>
                    <td class="btn_padrao">
                        <a class="badge badge-primary" href="@Url.Action( "InserirItem", "ItemDiverso", new { ID_Peritagem = Model.ID_Peritagem })">Inserir</a><br />
                    </td>
                </tr>
                <tr class="tabela_visualizar_titulo_item">
                    <th scope="col">ID</th>
                    <th scope="col">Qtde</th>
                    <th scope="col">Rosca</th>
                    <th scope="col">Passo</th>
                    <th scope="col">Comprimento</th>
                    <th scope="col">Norma</th>
                    <th scope="col">Classe</th>
                    <th scope="col">Local Aplicado</th>
                    <th scope="col" style="font-size:10px;">Ruela de Pressão DIN-12</th>
                    <th scope="col"></th>

                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var bj in Model.listItemDiverso)
                    {
                        if (bj.TipoItem.Id == 14 || bj.TipoItem.Nome == "Parafusos")
                        {
                            <tr>
                                <td>@bj.Id</td>
                                <td>@bj.Quantidade</td>
                                <td>@bj.Rosca</td>
                                <td>@bj.Passo</td>
                                <td>@bj.Comprimento</td>
                                <td>@bj.Norma.Nome</td>
                                <td>@bj.Classe</td>
                                <td>@bj.LocalAplicado</td>
                                <td>
                                    @if (bj.RuelaDePressaDin12)
                                    {
                                        <p>Sim</p>
                                    }
                                    else
                                    {
                                        <p>Não</p>
                                    }
                                </td>
                                <td>
                                    <a class="badge badge-warning" href="@Url.Action( "AlterarItem", "ItemDiverso", new { ID_Peritagem = Model.ID_Peritagem, ID_Item = bj.Id })">Alterar</a><br />
                                    <a class="badge badge-danger" href="@Url.Action( "ExcluirItem", "ItemDiverso", new { ID_Peritagem = Model.ID_Peritagem, ID_Item = bj.Id })">Excluir</a><br />
                                    <a class="badge badge-info" href="@Url.Action( "ListarImagem", "Imagem", new { ID_Peritagem = Model.ID_Peritagem, ID_ItemDiverso = bj.Id })">Album</a><br />
                                </td>

                            </tr>
                        }
                    }
                }
            </tbody>
        </table>


        <!-----------------------------------------------PORCAS----------------------------------------->

        <table class="table table-striped">
            <thead class="thead-dark">
                <tr class="tabela_visualizar_titulo">
                    <td colspan="7"><h6>Porcas</h6></td>
                    <td class="btn_padrao">
                        <a class="badge badge-primary" href="@Url.Action( "InserirItem", "ItemDiverso", new { ID_Peritagem = Model.ID_Peritagem })">Inserir</a><br />
                    </td>
                </tr>
                <tr class="tabela_visualizar_titulo_item">
                    <th scope="col">ID</th>
                    <th scope="col">Qtde</th>
                    <th scope="col">Rosca</th>
                    <th scope="col">Passo</th>
                    <th scope="col">Norma</th>
                    <th scope="col">Classe</th>
                    <th scope="col">Local Aplicado</th>
                    <th scope="col"></th>

                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var bj in Model.listItemDiverso)
                    {
                        if (bj.TipoItem.Id == 15 || bj.TipoItem.Nome == "Porcas")
                        {
                            <tr>
                                <td>@bj.Id</td>
                                <td>@bj.Quantidade</td>
                                <td>@bj.Rosca</td>
                                <td>@bj.Passo</td>
                                <td>@bj.Norma.Nome</td>
                                <td>@bj.Classe</td>
                                <td>@bj.LocalAplicado</td>
                                <td>
                                    <a class="badge badge-warning" href="@Url.Action( "AlterarItem", "ItemDiverso", new { ID_Peritagem = Model.ID_Peritagem, ID_Item = bj.Id })">Alterar</a><br />
                                    <a class="badge badge-danger" href="@Url.Action( "ExcluirItem", "ItemDiverso", new { ID_Peritagem = Model.ID_Peritagem, ID_Item = bj.Id })">Excluir</a><br />
                                    <a class="badge badge-info" href="@Url.Action( "ListarImagem", "Imagem", new { ID_Peritagem = Model.ID_Peritagem, ID_ItemDiverso = bj.Id })">Album</a><br />
                                </td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>


        <!-----------------------------------------------PINO DE GUIA----------------------------------------->

        <table class="table table-striped">
            <thead class="thead-dark">
                <tr class="tabela_visualizar_titulo">
                    <td colspan="5"><h6>Pino de Guia</h6></td>
                    <td class="btn_padrao">
                        <a class="badge badge-primary" href="@Url.Action( "InserirItem", "ItemDiverso", new { ID_Peritagem = Model.ID_Peritagem })">Inserir</a><br />
                    </td>
                </tr>
                <tr class="tabela_visualizar_titulo_item">
                    <th scope="col">ID</th>
                    <th scope="col">Qtde</th>
                    <th scope="col">Dimensão</th>
                    <th scope="col">Norma</th>
                    <th scope="col">Local Aplicado</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var bj in Model.listItemDiverso)
                    {
                        if (bj.TipoItem.Id == 16 || bj.TipoItem.Nome == "Pino do Guia")
                        {
                            <tr>
                                <td>@bj.Id</td>
                                <td>@bj.Quantidade</td>
                                <td>@bj.Dimensao</td>
                                <td>@bj.Norma.Nome</td>
                                <td>@bj.LocalAplicado</td>
                                <td>
                                    <a class="badge badge-warning" href="@Url.Action( "AlterarItem", "ItemDiverso", new { ID_Peritagem = Model.ID_Peritagem, ID_Item = bj.Id })">Alterar</a><br />
                                    <a class="badge badge-danger" href="@Url.Action( "ExcluirItem", "ItemDiverso", new { ID_Peritagem = Model.ID_Peritagem, ID_Item = bj.Id })">Excluir</a><br />
                                    <a class="badge badge-info" href="@Url.Action( "ListarImagem", "Imagem", new { ID_Peritagem = Model.ID_Peritagem, ID_ItemDiverso = bj.Id })">Album</a><br />
                                </td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>


        <!-----------------------------------------------PINO ELÁSTICO----------------------------------------->

        <table class="table table-striped">
            <thead class="thead-dark">
                <tr class="tabela_visualizar_titulo">
                    <td colspan="5"><h6>Pino Elástico</h6></td>
                    <td class="btn_padrao">
                        <a class="badge badge-primary" href="@Url.Action( "InserirItem", "ItemDiverso", new { ID_Peritagem = Model.ID_Peritagem })">Inserir</a><br />
                    </td>
                </tr>
                <tr class="tabela_visualizar_titulo_item">
                    <th scope="col">ID</th>
                    <th scope="col">Qtde</th>
                    <th scope="col">Dimensão</th>
                    <th scope="col">Norma</th>
                    <th scope="col">Local Aplicado</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var bj in Model.listItemDiverso)
                    {
                        if (bj.TipoItem.Id == 17 || bj.TipoItem.Nome == "Pino Elástico")
                        {
                            <tr>
                                <td>@bj.Id</td>
                                <td>@bj.Quantidade</td>
                                <td>@bj.Dimensao</td>
                                <td>@bj.Norma.Nome</td>
                                <td>@bj.LocalAplicado</td>
                                <td>
                                    <a class="badge badge-warning" href="@Url.Action( "AlterarItem", "ItemDiverso", new { ID_Peritagem = Model.ID_Peritagem, ID_Item = bj.Id })">Alterar</a><br />
                                    <a class="badge badge-danger" href="@Url.Action( "ExcluirItem", "ItemDiverso", new { ID_Peritagem = Model.ID_Peritagem, ID_Item = bj.Id })">Excluir</a><br />
                                    <a class="badge badge-info" href="@Url.Action( "ListarImagem", "Imagem", new { ID_Peritagem = Model.ID_Peritagem, ID_ItemDiverso = bj.Id })">Album</a><br />
                                </td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>

        <!-----------------------------------------------ARRUELAS DE PRESSÃO----------------------------------------->

        <table class="table table-striped">
            <thead class="thead-dark">
                <tr class="tabela_visualizar_titulo">
                    <td colspan="5"><h6>Arruelas de Pressão</h6></td>
                    <td class="btn_padrao">
                        <a class="badge badge-primary" href="@Url.Action( "InserirItem", "ItemDiverso", new { ID_Peritagem = Model.ID_Peritagem })">Inserir</a><br />
                    </td>
                </tr>
                <tr class="tabela_visualizar_titulo_item">
                    <th scope="col">ID</th>
                    <th scope="col">Qtde</th>
                    <th scope="col">Dimensão</th>
                    <th scope="col">Norma</th>
                    <th scope="col">Local Aplicado</th>
                    <th scope="col"></th>

                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var bj in Model.listItemDiverso)
                    {
                        if (bj.TipoItem.Id == 18 || bj.TipoItem.Nome == "Arruela de Pressão")
                        {
                            <tr>
                                <td>@bj.Id</td>
                                <td>@bj.Quantidade</td>
                                <td>@bj.Dimensao</td>
                                <td>@bj.Norma.Nome</td>
                                <td>@bj.LocalAplicado</td>
                                <td>
                                    <a class="badge badge-warning" href="@Url.Action( "AlterarItem", "ItemDiverso", new { ID_Peritagem = Model.ID_Peritagem, ID_Item = bj.Id })">Alterar</a><br />
                                    <a class="badge badge-danger" href="@Url.Action( "ExcluirItem", "ItemDiverso", new { ID_Peritagem = Model.ID_Peritagem, ID_Item = bj.Id })">Excluir</a><br />
                                    <a class="badge badge-info" href="@Url.Action( "ListarImagem", "Imagem", new { ID_Peritagem = Model.ID_Peritagem, ID_ItemDiverso = bj.Id })">Album</a><br />
                                </td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>

        <!-----------------------------------------------ARRUELAS LISA----------------------------------------->

        <table class="table table-striped">
            <thead class="thead-dark">
                <tr class="tabela_visualizar_titulo">
                    <td colspan="5"><h6>Arruelas Lisa</h6></td>
                    <td class="btn_padrao">
                        <a class="badge badge-primary" href="@Url.Action( "InserirItem", "ItemDiverso", new { ID_Peritagem = Model.ID_Peritagem })">Inserir</a><br />
                    </td>
                </tr>
                <tr class="tabela_visualizar_titulo_item">
                    <th scope="col">ID</th>
                    <th scope="col">Qtde</th>
                    <th scope="col">Dimensão</th>
                    <th scope="col">Norma</th>
                    <th scope="col">Local Aplicado</th>
                    <th scope="col"></th>

                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var bj in Model.listItemDiverso)
                    {
                        if (bj.TipoItem.Id == 19 || bj.TipoItem.Nome == "Arruela Lisa")
                        {
                            <tr>
                                <td>@bj.Id</td>
                                <td>@bj.Quantidade</td>
                                <td>@bj.Dimensao</td>
                                <td>@bj.Norma.Nome</td>
                                <td>@bj.LocalAplicado</td>
                                <td>
                                    <a class="badge badge-warning" href="@Url.Action( "AlterarItem", "ItemDiverso", new { ID_Peritagem = Model.ID_Peritagem, ID_Item = bj.Id })">Alterar</a><br />
                                    <a class="badge badge-danger" href="@Url.Action( "ExcluirItem", "ItemDiverso", new { ID_Peritagem = Model.ID_Peritagem, ID_Item = bj.Id })">Excluir</a><br />
                                    <a class="badge badge-info" href="@Url.Action( "ListarImagem", "Imagem", new { ID_Peritagem = Model.ID_Peritagem, ID_ItemDiverso = bj.Id })">Album</a><br />
                                </td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>

        <!-----------------------------------------------ROLAMENTOS----------------------------------------->

        <table class="table table-striped">
            <thead class="thead-dark">
                <tr class="tabela_visualizar_titulo">
                    <td colspan="7"><h6>Rolamento</h6></td>
                    <td class="btn_padrao">
                        <a class="badge badge-primary" href="@Url.Action( "InserirItem", "ItemDiverso", new { ID_Peritagem = Model.ID_Peritagem })">Inserir</a><br />
                    </td>
                </tr>
                <tr class="tabela_visualizar_titulo_item">
                    <th scope="col">ID</th>
                    <th scope="col">Qtde</th>
                    <th scope="col">Código</th>
                    <th scope="col">Dimensão</th>
                    <th scope="col">Fabricante</th>
                    <th scope="col">Local Aplicado</th>
                    <th scope="col">Observação</th>
                    <th scope="col"></th>

                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var bj in Model.listItemDiverso)
                    {
                        if (bj.TipoItem.Id == 20 || bj.TipoItem.Nome == "Rolamento")
                        {
                            <tr>
                                <td>@bj.Id</td>
                                <td>@bj.Quantidade</td>
                                <td>@bj.Codigo</td>
                                <td>@bj.Dimensao</td>
                                <td>@bj.Fabricante</td>
                                <td>@bj.LocalAplicado</td>
                                <td>@bj.Observacao</td>
                                <td>
                                    <a class="badge badge-warning" href="@Url.Action( "AlterarItem", "ItemDiverso", new { ID_Peritagem = Model.ID_Peritagem, ID_Item = bj.Id })">Alterar</a><br />
                                    <a class="badge badge-danger" href="@Url.Action( "ExcluirItem", "ItemDiverso", new { ID_Peritagem = Model.ID_Peritagem, ID_Item = bj.Id })">Excluir</a><br />
                                    <a class="badge badge-info" href="@Url.Action( "ListarImagem", "Imagem", new { ID_Peritagem = Model.ID_Peritagem, ID_ItemDiverso = bj.Id })">Album</a><br />
                                </td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>

        <!-----------------------------------------------RETENTORES DIN-3760 ----------------------------------------->

        <table class="table table-striped">
            <thead class="thead-dark">
                <tr class="tabela_visualizar_titulo">
                    <td colspan="7"><h6>Retentores DIN-3760</h6></td>
                    <td class="btn_padrao">
                        <a class="badge badge-primary" href="@Url.Action( "InserirItem", "ItemDiverso", new { ID_Peritagem = Model.ID_Peritagem })">Inserir</a><br />
                    </td>
                </tr>
                <tr class="tabela_visualizar_titulo_item">
                    <th scope="col">ID</th>
                    <th scope="col">Qtde</th>
                    <th scope="col">Dimensão</th>
                    <th scope="col">Lábio</th>
                    <th scope="col">Borracha</th>
                    <th scope="col">Fabricante</th>
                    <th scope="col">Local Aplicado</th>
                    <th scope="col"></th>

                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var bj in Model.listItemDiverso)
                    {
                        if (bj.TipoItem.Id == 21 || bj.TipoItem.Nome == "Retentor DIN-3760")
                        {
                            <tr>
                                <td>@bj.Id</td>
                                <td>@bj.Quantidade</td>
                                <td>@bj.Dimensao</td>
                                <td>@bj.Labio</td>
                                <td>@bj.Borracha</td>
                                <td>@bj.Fabricante</td>
                                <td>@bj.LocalAplicado</td>
                                <td>
                                    <a class="badge badge-warning" href="@Url.Action( "AlterarItem", "ItemDiverso", new { ID_Peritagem = Model.ID_Peritagem, ID_Item = bj.Id })">Alterar</a><br />
                                    <a class="badge badge-danger" href="@Url.Action( "ExcluirItem", "ItemDiverso", new { ID_Peritagem = Model.ID_Peritagem, ID_Item = bj.Id })">Excluir</a><br />
                                    <a class="badge badge-info" href="@Url.Action( "ListarImagem", "Imagem", new { ID_Peritagem = Model.ID_Peritagem, ID_ItemDiverso = bj.Id })">Album</a><br />
                                </td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>

        <!-----------------------------------------------ELEMENTOS DE VEDAÇÃO----------------------------------------->

        <table class="table table-striped">
            <thead class="thead-dark">
                <tr class="tabela_visualizar_titulo">
                    <td colspan="6"><h6>Elementos de Vedação</h6></td>
                    <td class="btn_padrao">
                        <a class="badge badge-primary" href="@Url.Action( "InserirItem", "ItemDiverso", new { ID_Peritagem = Model.ID_Peritagem })">Inserir</a><br />
                    </td>
                </tr>
                <tr class="tabela_visualizar_titulo_item">
                    <th scope="col">ID</th>
                    <th scope="col">Qtde</th>
                    <th scope="col">Descrição</th>
                    <th scope="col">Dimensão</th>
                    <th scope="col">Material</th>
                    <th scope="col">Local Aplicado</th>
                    <th scope="col"></th>

                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var bj in Model.listItemDiverso)
                    {
                        if (bj.TipoItem.Id == 22 || bj.TipoItem.Nome == "Retentor DIN-3760")
                        {
                            <tr>
                                <td>@bj.Id</td>
                                <td>@bj.Quantidade</td>
                                <td>@bj.Descricao</td>
                                <td>@bj.Dimensao</td>
                                <td>@bj.Material.Nome</td>
                                <td>@bj.LocalAplicado</td>
                                 <td>
                                    <a class="badge badge-warning" href="@Url.Action( "AlterarItem", "ItemDiverso", new { ID_Peritagem = Model.ID_Peritagem, ID_Item = bj.Id })">Alterar</a><br />
                                    <a class="badge badge-danger" href="@Url.Action( "ExcluirItem", "ItemDiverso", new { ID_Peritagem = Model.ID_Peritagem, ID_Item = bj.Id })">Excluir</a><br />
                                </td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>

        <!-----------------------------------------------CHAVETAS----------------------------------------->
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr class="tabela_visualizar_titulo">
                    <td colspan="7"><h6>Chavetas</h6></td>
                    <td class="btn_padrao">
                        <a class="badge badge-primary" href="@Url.Action( "InserirItem", "ItemDiverso", new { ID_Peritagem = Model.ID_Peritagem })">Inserir</a><br />
                    </td>
                </tr>
                <tr class="tabela_visualizar_titulo_item">
                    <th scope="col">ID</th>
                    <th scope="col">Qtde</th>
                    <th scope="col">L1</th>
                    <th scope="col">L2</th>
                    <th scope="col">L3</th>
                    <th scope="col">Local Aplicado</th>
                    <th scope="col">Condição</th>
                    <th scope="col"></th>

                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var bj in Model.listItemDiverso)
                    {
                        if (bj.TipoItem.Id == 23 || bj.TipoItem.Nome == "Chaveta")
                        {
                            <tr>
                                <td>@bj.Id</td>
                                <td>@bj.Quantidade</td>
                                <td>@bj.L1</td>
                                <td>@bj.L2</td>
                                <td>@bj.L3</td>
                                <td>@bj.LocalAplicado</td>
                                <td>@bj.Disposicao.Nome</td>
                                <td>
                                    <a class="badge badge-warning" href="@Url.Action( "AlterarItem", "ItemDiverso", new { ID_Peritagem = Model.ID_Peritagem, ID_Item = bj.Id })">Alterar</a><br />
                                    <a class="badge badge-danger" href="@Url.Action( "ExcluirItem", "ItemDiverso", new { ID_Peritagem = Model.ID_Peritagem, ID_Item = bj.Id })">Excluir</a><br />
                                    <a class="badge badge-info" href="@Url.Action( "ListarImagem", "Imagem", new { ID_Peritagem = Model.ID_Peritagem, ID_ItemDiverso = bj.Id })">Album</a><br />
                                </td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>

        <!-----------------------------------------------CONTRA RECUO----------------------------------------->
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr class="tabela_visualizar_titulo">
                    <td colspan="6"><h6>Contra Recuo</h6></td>
                    <td class="btn_padrao">
                        <a class="badge badge-primary" href="@Url.Action( "InserirItem", "ItemDiverso", new { ID_Peritagem = Model.ID_Peritagem })">Inserir</a><br />
                    </td>
                </tr>
                <tr class="tabela_visualizar_titulo_item">
                    <th scope="col">ID</th>
                    <th scope="col">Condição</th>
                    <th scope="col">Marca</th>
                    <th scope="col">Modelo</th>
                    <th scope="col">Dimensão</th>
                    <th scope="col">Produto</th>
                    <th scope="col"></th>

                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var bj in Model.listItemDiverso)
                    {
                        if (bj.TipoItem.Id == 24 || bj.TipoItem.Nome == "Contra Recuo")
                        {
                            <tr>
                                <td>@bj.Id</td>
                                <td>@bj.Disposicao.Nome</td>
                                <td>@bj.Marca</td>
                                <td>@bj.Modelo</td>
                                <td>@bj.Dimensao</td>
                                <td>@bj.Produto</td>
                                <td>
                                    <a class="badge badge-warning" href="@Url.Action( "AlterarItem", "ItemDiverso", new { ID_Peritagem = Model.ID_Peritagem, ID_Item = bj.Id })">Alterar</a><br />
                                    <a class="badge badge-danger" href="@Url.Action( "ExcluirItem", "ItemDiverso", new { ID_Peritagem = Model.ID_Peritagem, ID_Item = bj.Id })">Excluir</a><br />
                                    <a class="badge badge-info" href="@Url.Action( "ListarImagem", "Imagem", new { ID_Peritagem = Model.ID_Peritagem, ID_ItemDiverso = bj.Id })">Album</a><br />
                                </td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>

        <!-----------------------------------------------HELICE----------------------------------------->
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr class="tabela_visualizar_titulo">
                    <td colspan="6"><h6>Hélice</h6></td>
                    <td class="btn_padrao">
                        <a class="badge badge-primary" href="@Url.Action( "InserirItem", "ItemDiverso", new { ID_Peritagem = Model.ID_Peritagem })">Inserir</a><br />
                    </td>
                </tr>
                <tr class="tabela_visualizar_titulo_item">
                    <th scope="col">ID</th>
                    <th scope="col">Condição</th>
                    <th scope="col">Marca</th>
                    <th scope="col">Modelo</th>
                    <th scope="col">Dimensão</th>
                    <th scope="col">Produto</th>
                    <th scope="col"></th>

                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var bj in Model.listItemDiverso)
                    {
                        if (bj.TipoItem.Id == 25 || bj.TipoItem.Nome == "Hélice")
                        {
                            <tr>
                                <td>@bj.Id</td>
                                <td>@bj.Disposicao.Nome</td>
                                <td>@bj.Marca</td>
                                <td>@bj.Modelo</td>
                                <td>@bj.Dimensao</td>
                                <td>@bj.Produto</td>
                                <td>
                                    <a class="badge badge-warning" href="@Url.Action( "AlterarItem", "ItemDiverso", new { ID_Peritagem = Model.ID_Peritagem, ID_Item = bj.Id })">Alterar</a><br />
                                    <a class="badge badge-danger" href="@Url.Action( "ExcluirItem", "ItemDiverso", new { ID_Peritagem = Model.ID_Peritagem, ID_Item = bj.Id })">Excluir</a><br />
                                    <a class="badge badge-info" href="@Url.Action( "ListarImagem", "Imagem", new { ID_Peritagem = Model.ID_Peritagem, ID_ItemDiverso = bj.Id })">Album</a><br />
                                </td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>


        <!-----------------------------------------------ACOPLAMENTO----------------------------------------->
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr class="tabela_visualizar_titulo">
                    <td colspan="6"><h6>Acoplamento</h6></td>
                    <td class="btn_padrao">
                        <a class="badge badge-primary" href="@Url.Action( "InserirItem", "ItemDiverso", new { ID_Peritagem = Model.ID_Peritagem })">Inserir</a><br />
                    </td>
                </tr>
                <tr class="tabela_visualizar_titulo_item">
                    <th scope="col">ID</th>
                    <th scope="col">Condição</th>
                    <th scope="col">Marca</th>
                    <th scope="col">Modelo</th>
                    <th scope="col">Dimensão</th>
                    <th scope="col">Produto</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var bj in Model.listItemDiverso)
                    {
                        if (bj.TipoItem.Id == 26 || bj.TipoItem.Nome == "Acoplamento")
                        {
                            <tr>
                                <td>@bj.Id</td>
                                <td>@bj.Disposicao.Nome</td>
                                <td>@bj.Marca</td>
                                <td>@bj.Modelo</td>
                                <td>@bj.Dimensao</td>
                                <td>@bj.Produto</td>
                                <td>
                                    <a class="badge badge-warning" href="@Url.Action( "AlterarItem", "ItemDiverso", new { ID_Peritagem = Model.ID_Peritagem, ID_Item = bj.Id })">Alterar</a><br />
                                    <a class="badge badge-danger" href="@Url.Action( "ExcluirItem", "ItemDiverso", new { ID_Peritagem = Model.ID_Peritagem, ID_Item = bj.Id })">Excluir</a><br />
                                    <a class="badge badge-info" href="@Url.Action( "ListarImagem", "Imagem", new { ID_Peritagem = Model.ID_Peritagem, ID_ItemDiverso = bj.Id })">Album</a><br />
                                </td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>

    </div>
</div>
